# define functions and returning values

In [1]:
print('black dove , where will you go?')

black dove , where will you go?

In [2]:
number = 15
type(number)

int

In [3]:
number = str(number)
type(number)

str

In [4]:
def greeting(name):
    print('Welcome ' + name + '!' )
    print('you are part of the team')

In [5]:
greeting('Ali')

Welcome Ali!
you are part of the team

In [6]:
def area_triandle(base , height):
    return base * height / 2

In [7]:
area_a = area_triandle(5,6)
area_b = area_triandle(7, 3)

total_area = area_a + area_b 
total_area

25.5

In [8]:
def get_seconds(hours, minutes , seconds):
    total_seconds = 3600*hours + 60*minutes + seconds
    return total_seconds

In [9]:
get_seconds(23,59,60)

86400

In [3]:
name = "ALi"
number = len(name)*9
print("hello " + name + "your lucky number is "+ str(number) )


name = "Ahmed"
number = len(name)*9
print("hello " + name + "your lucky number is " + str(number) )

hello ALiyour lucky number is 27
hello Ahmedyour lucky number is 45

In [5]:
def luck_number(name):
    number = len(name)*9
    print('hello ' + name + ' your lucky number is ' + str(number))
    

luck_number('Ali')
luck_number('Ahmed')

hello Ali your lucky number is 27
hello Ahmed your lucky number is 45

In [9]:
def factorial(n):
    y = 1
    for i in range(int(n)):
        y = y*(i+1)
    return y
    
input_num = input()
print(factorial(input_num))

5
120

In [10]:
def seed_calculator(founction_side , grass_width):
    founction_area = founction_side**2
    total_area = (founction_side + 2 * grass_width) ** 2 
    grass_area = total_area - founction_area
    seed = grass_area * 35
    seed = seed / 1000
    return seed

In [11]:
seed_calculator(12 , 4)

8.96